<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Life Hacks</title>
    <link rel="stylesheet" href="../../resources/css/style.css">
</head>
<body>
    <nav>
        <a href="../../App/views/index.html">
            <img src="../../resources/images/logo.png" alt="logo" width="100">
        </a>
        <ul class="nav-list">
            <li><a href="">Products</a></li>|
            <li><a href="./articles/articles.html">Articles</a></li>|
            <li><a href="./ideas/ideas.html">About Us</a></li>|
            <li><a href="">Contact Us</a></li>
        </ul>
    </nav>

    <main>
        <section class="main-section">
            <h1>Eric Hoffer and the Power of Self-Education</h1>
                        
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1NVnqKmoGtiSU2d4xoKeKdYU2iwf08nHhjZR_ur3vG0wlUjwRBLnQYG41q-qbmf2bAuo&usqp=CAU" alt="An inspired prick" />
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloremque dolore impedit consequatur, eaque officiis, omnis dicta officia modi vel voluptates sed nobis, aspernatur alias ex tenetur magnam? Sint optio nulla quasi magnam, voluptate mollitia possimus temporibus excepturi similique provident nesciunt hic dolorem aut asperiores iusto odit! Corrupti reprehenderit ipsam facilis.</p>

            <img src="" alt="The True Believer book cover" width="100" height="100">
                                
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Atque tenetur temporibus molestias minima ipsam sed distinctio recusandae corrupti fugit odio.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste incidunt magni maxime sit molestias eos ducimus, quasi iusto debitis ab adipisci illum, quam quas aperiam officia cupiditate possimus itaque eligendi! Eius porro unde veritatis. Harum atque unde facere laudantium non!</p>              
        </section>

        <aside>     
            <h2>Recent Posts</h2>
            <ul>
            <li>Articles</li>
                <ul type="circle">
                <li>The Importance of Goals, Especially During Difficult Times</li>
                <li>5 Steps to Discovering Your Life Purpose In 2022!</li>
                </ul>
            <li>Ideas</li>
                <ul type="circle">
                <li>10 Books to Read in The Fall</li>
                <li>Top Web Development Projects Ideas</li>
                </ul>
            </ul>
            <h2>Most Viewed Articls</h2>
            <ul type="I">
        </aside>
    </main>

    <footer>Footer</footer>
    
</body>
</html>

<!-- Roll number = 19 -->